<div class="jumbotron">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-6 offset-sm-3">
                
                <form [formGroup]= "loginform" >
                    <div class="form-group ">
                      <div class="row justify-content-md-center">
                      </div>
                    </div>
                  
                    <div class="form-group">
                      <label> Usuario: </label>
                      <input class="form-control" formControlName="usuario" type="text" placeholder="Ingresar usuario"
                         #inputUserName />
                    
                  
                    </div>
                    <div class="form-group">
                      <label> Contraseña: </label>
                      <input class="form-control" type="password" formControlName="password" placeholder="Ingresar contraseña"
                      autocomplete="off" />
                      
                    </div>
                    <div class="pt-3">
                      <button (click)="login()" [disabled]="loginform.invalid" class="btn btn-outline-primary btn-lg btn-block">
                        
                        Iniciar sesión
                      </button>
                    </div>
                  </form>


            </div>
        </div>
    </div>
</div>